
<footer class="footer">
  <div class="footer-main-content">
    <div class="wrapper">
      <div class="footer-column">
        <h4>Contact Us</h4>
        <p>
          <a href="https://goo.gl/maps/XaEnWbPHhJv" target="_blank">
            12835 E. Arapahoe Road<br/>
            Tower 1, Suite 320<br/>
            Centennial, CO 80112
          </a>
        </p>
        <p><a href="tel:3037900909">303.790.0909</a></p>
      </div>

      <div class="footer-column">
        <h4>Business Hours</h4>
        <p>Monday - Friday: 9am - 5pm</p>
      </div>

      <div class="footer-column">
        <p>(Social Links)</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    &copy; 2019, Malibu Homes Colorado
  </div>
</footer>