
// Footer
//----------

.footer {
  display: block;
  background-color: $white;
  // color: $white;

  .footer-main-content {
    padding: 32px 24px;

    .wrapper {
      display: flex;
      flex-direction: column;
    }

    @include overMobile() {
      padding: 64px 24px;

      .wrapper {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  .footer-column {
    flex: 1 0 0;
    display: inline-block;
    vertical-align: top;
    margin-right: 24px;

    &:last-child {
      margin: 0;
    }

    &.logo-column {
      text-align: center;
    }
  }

  .footer-logo {
    display: block;
    height: 120px;
    width: auto;
    margin: 0 auto;
  }

  .social-row {
    margin-top: 16px;
  }
  .social-icon {
    display: inline-block;
    padding: 0;
    margin-right: 16px;
    border: 0;

    svg {
      display: block;
      height: 32px;
      width: auto;
      fill: $grey-darker;
      transition: fill 0.3s;
    }

    &:hover {
      svg {
        fill: $blue-light;
      }
    }
  }

  .footer-copyright {
    padding: 8px 24px;
    font-size: 0.75rem;
    text-align: center;
    color: $grey-light;
    background-color: $grey-darker;
  }
}