
// General Styles
//----------

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: $grey-darkest;
}

body {
  font-family: $sans-family;
  font-size: $font-size-base;
  color: $grey-dark;
}

.wrapper {
  width: 100%;
  max-width: $wrapper-full;
  margin: 0 auto;
  padding: 0 24px;
}

main {
  display: flex;
  flex-direction: column;
  padding-top: 83px; // space for fixed header
  min-height: calc(100vh - 305px);

  section {
    flex: 1 0 auto;
  }

  @include overMobile() {
    padding-top: 120px;
  }
}

.flex-row {
  display: flex;
  flex-direction: column;

  .flex-item {
    flex: 1 0 0;
    margin-bottom: 24px;

    &:last-child {
      margin: 0;
    }
  }

  @include overMobile() {
    flex-direction: row;

    .flex-item {
      margin-right: 24px;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

section {
  padding: 32px 0;
  text-align: center;

  &.section-brown {
    background-color: $brown-light;
  }
  &.section-grey {
    background-color: $grey;
    color: $white;
  }
  &.section-dark {
    background-color: $grey-darker;
    color: $white;
  }

  @include overMobile() {
    padding-top: 52px 0;
  }
}


// Buttons
//-----

button {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
}

.btn {
  display: inline-block;
  padding: 8px 20px;
  cursor: pointer;
  transition:
    background-color 0.4s,
    color 0.3s;

  &.btn-primary {
    color: $white;
    background-color: $blue-light;
    text-transform: uppercase;
    border: 2px solid $blue-light;

    &:hover {
      color: $blue-light;
      background-color: $white;
    }
    &:active {
      color: $white;
      transition: none;
    }
  }

  &.btn-outline {
    color: $blue-light;
    text-transform: uppercase;
    border: 2px solid $blue-light;

    &:hover {
      color: $white;
      background-color: $blue-light;
    }
    &:active {
      color: $blue-light;
      transition: none;
    }

    &.btn-light {
      color: $white;
      border-color: $white;

      &:hover {
        color: $blue-light;
        background-color: $white;
      }
      &:active {
        color: $white;
      }
    }
  }
}


// Typography
//-----

h1,
h2,
h3 {
  margin: 0 0 12px;
  font-family: $script-family;
}
h1,
h2 {
  font-size: 44px;
  margin-bottom: 18px;

  @include overMobile() {
    font-size: 56px;
    margin-bottom: 24px;
  }
}

h3 {
  font-size: 24px;
}
h4 {
  margin: 0 0 4px;
  font-size: 14px;
  font-weight: 700;
  font-family: $sans-family;
}

p {
  margin: 0 0 12px;
  line-height: 1.7em;

  &:last-child {
    margin-bottom: 0;
  }
  &.small {
    font-size: 0.75rem;
  }
}

a {
  color: currentColor;
  text-decoration: none;
  transition: color 0.2s;
  padding-bottom: 2px;
  border-bottom: 1px solid currentColor;
  transition: border 0.3s;

  &:hover {
    border-bottom-color: $blue-light;
  }
}

blockquote {
  margin: 24px 0;
  padding: 4px 0 4px 16px;
  border-left: 2px solid $blue-light;
  font-style: italic;
}

.nowrap {
  white-space: nowrap;
}


// Forms
//-----

.form-row {
  display: flex;
  margin-bottom: 16px;

  .form-group {
    flex: 1 0 0;
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }

  &.button-row {
    display: block;
    margin: 0;
    text-align: right;
  }
}

.form-group {
  display: inline-block;

  .label {
    display: block;
    margin-bottom: 4px;
  }
  input,
  textarea {
    width: 100%;
  }
}

input,
textarea {
  display: block;
  border: 0;
  border-radius: 0;
  padding: 12px 16px;
  background-color: #fff;
  font-family: inherit;
  font-size: 1rem;
}