
// About
//---------

.main-about {
  .section-about {
    text-align: left;

    h1 {
      text-align: center;
    }
  }
}


// Portfolio
//---------

.main-portfolio {
  .portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .portfolio-img {
    display: inline-block;
    flex: 1 0 0;
    margin-bottom: 16px;
    max-width: 32%;
    height: auto;
  }
}


// Contact
//---------

.main-contact {
  .contact-item {
    margin-bottom: 32px;

    &:last-child {
      margin: 0;
    }
  }
}


// Process
//---------

.main-process {
  .section-process {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper {
    flex: 0 0 auto;
    font-family: $script-family;
    font-size: 36px;

    p {
      margin: 0;
    }
  }
}