
// About
//---------

.main-about {
  .section-about {
    text-align: left;

    h1 {
      text-align: center;
    }
  }
}


// Portfolio
//---------

.section-portfolio {
  display: flex;
  align-items: center;
  justify-content: center;

  .portfolio-wrapper {
    flex: 0 0 auto;
  }
}
.slider {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 280px;
  margin: 0 auto;
  overflow: hidden;

  @include overMobile() {
    height: 400px;
  }

  .slider-track {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
    transition: transform 0.4s ease-in-out;

    .portfolio-img {
      flex: 0 0 auto;
      display: inline-block;
      height: 100%;
      width: auto;
      margin-right: 24px;

      &:last-child {
        margin: 0;
      }
    }
  }

  .slider-btn {
    position: absolute;
    z-index: 3;
    top: 0;
    height: 100%;
    width: 80px;
    transition: opacity 0.5s;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 20px;
      display: inline-block;
      height: 12px;
      width: 12px;
      border-top: 2px solid $brown-light;
      border-left: 2px solid $brown-light;
      transform: rotate(-45deg) translateY(-50%);
      transition: border-color 0.3s;
    }

    &:hover {
      &:before {
        border-color: $white;
      }
    }

    &.prev-btn {
      left: 0;
      background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
    }
    &.next-btn {
      right: 0;
      background-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));

      &:before {
        right: 20px;
        left: auto;
        transform: rotate(135deg) translateY(-50%);
      }
    }

    &.hide {
      opacity: 0;
    }
  }
}


// Contact
//---------

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-contact {
  .contact-row {
    display: flex;

    form {
      position: relative;
      flex: 3 0 0;
      margin-right: 36px;
      text-align: left;

      .status-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        width: 0;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
        padding: 0 24px;
        text-align: center;
        font-size: 20px;
        background-color: $grey;
        overflow: hidden;
        transition:
          opacity 0.4s,
          height 0.1s 0.4s,
          width 0.1s 0.4s;

        &.show {
          height: 100%;
          width: 100%;
          opacity: 0.8;
          transition:
            opacity 0.4s;
        }
        &.submitting {
          .status-submitting {
            display: inline-block;
            animation: blink 1s alternate infinite;
          }
        }
        &.success {
          .status-success {
            display: inline-block;
          }
        }
        &.error {
          .status-error {
            display: inline-block;
          }
        }
        .status {
          display: none;
        }
      }
    }
    .contact-items {
      flex: 1 0 0;
    }
  }
  .contact-items {
    padding-top: 24px;
  }
  .contact-item {
    margin-bottom: 32px;
    text-align: left;

    &:last-child {
      margin: 0;
    }
  }
}


// Process
//---------

.main-process {
  .section-process {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper {
    flex: 0 0 auto;
    font-family: $script-family;
    font-size: 36px;

    p {
      margin: 0;
    }
  }
}