
// TYPOGRAPHY
//------

$script-family: 'Tangerine', handwriting;
$sans-family: 'Open Sans', Arial, sans-serif;

$font-size-base: 14px;



// COLORS
//------

$white: #fff;

$grey-light: #b4b4b4;
$grey: #9fa8a3;

$grey-dark: #333;
$grey-darker: #283139;
$grey-darkest: #171717;

$blue-light: #2ea3f2;
$brown-light: #e3e0cf;



// SPACING
//------

$wrapper-full: 980px;
$mobile-break: 980px;