---
title: home
layout: default
---


<main class="main-home">
  <section class="section-hero">
    <img src="{{'/assets/images/malibu-home15.jpg' | relative_url}}" alt="Photo of home built by Malibu Homes">
  </section>

  <section class="section-cta section-brown">
    <div class="wrapper">
      <h2>Building a home has never been so fun.</h2>
      <a href="/about/" class="btn-outline btn">About Us</a>
    </div>
  </section>

  <section class="section-accolades section-grey">
    <div class="wrapper">
      <h2>Colorado’s Custom Home Builder</h2>
      <p class="subtitle">Malibu Homes is an award winning builder with many homebuilding accolades including<br><strong>Two Time GOLD Recipient for BEST HOME IN THE NATION!</strong></p>

      <img src="{{'/assets/images/malibu-home6.jpg' | relative_url}}" alt="Photo of finished, award-winning, Malibu Homes house" class="img-section-full">
    </div>
  </section>

  <section class="section-community section-dark">
    <div class="wrapper">
      <h2>Supporting the Denver Community</h2>
      <p class="subtitle">We support the Denver Habitat for Humanity.</p>

      <div class="flex-row">

        <div class="flex-item">
          <div class="check-item">
            <div class="check-mark">O</div>
            <div class="item-content">
              <h4>Mission</h4>
              <p>Seeking to put God’s love into action, Habitat for Humanity brings people together to build homes, communities and hope.</p>
            </div>
          </div>

          <div class="check-item">
            <div class="check-mark">O</div>
            <div class="item-content">
              <h4>Vision</h4>
              <p>A world where everyone has a decent place to live.</p>
            </div>
          </div>

          <div class="check-item">
            <div class="check-mark">O</div>
            <div class="item-content">
              <h4>History</h4>
              <p>Habitat for Humanity was established in 1976 by Millard and Linda Fuller. The Fullers wanted to address poverty housing on a global scale through “partnership housing”.</p>
            </div>
          </div>
        </div>

        <div class="flex-item">
          <img src="{{'/assets/images/habitat-600.jpg' | relative_url}}" alt="" class="img-section-full">
        </div>

        <div class="flex-item">
          <img src="{{'/assets/images/habitat-volunteers.jpg' | relative_url}}" alt="" class="img-section-full">
        </div>

      </div>
    </div>
  </section>

  <section class="section-cta section-brown">
    <div class="wrapper">
      <h2>Get Started Today</h2>
      <a href="/contact/" class="btn-outline btn">Contact Us</a>
    </div>
  </section>
</main>
